/* Navbar Related */
.social-icon {
  color: black;
}

.active {
  border-bottom: 1px solid black;
}

.nav-item a {
  padding-bottom: 5px;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-container {
  padding: 2vw 3vw;
}

.portfolio-nav {
    padding: 0vh 5vw;
}

.portfolio-nav h2 {
  font-size: 4rem;
}

.portfolio-nav li {
  padding: .75rem;
}

.portfolio-nav a {
  color: black;
  transition: ease 0.5s;
}

.portfolio-nav a:hover,
.portfolio-nav a:focus,
.portfolio-nav a:active {
  text-decoration: line-through;
  color: #212121;
}

/* Footer Related */
.footer-style div {
    padding: 0.5rem;
}

footer .social-icon {
    padding-right: 0.5rem;
}